<!DOCTYPE html>
<html>
  <head>
    <title>Geekoriginal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'top', :media => 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%# ヘッダー部分 %>
    <header>
      <h1 class="header-title">Tandemy</h1>
      <nav class="header-list">
        <ul>
          <li>
            <a class="btn btn--green" href="/users">Log in</a>
          </li>
          <li>
            <a class="btn btn--blue" href="/users/sign_up">Sign up</a>
          </li>
        </ul>
      </nav> 
    </header>

    <%# トップページ部分 %>
    <section class="top-image">
      <div class="top-image-circle"></div>
      <div class="top-text">
        <h4 class="top-text-title">Break Your Language Barrier</h4>
        <p class="top-text-desc">
          Tandemy is matching service for matching STUDY LANGUAGE to NATIVE LANGUAGE
        </p>
      </div>
    </section>

    <%# スマートフォンのサイズだけ表示するボタン %>
    <section class="smartphone-btn">
      <ul>
        <li class="smartphone-btn-list">
            <a class="btn btn--green" href="/users">Log in</a>
        </li>
        <li class="smartphone-btn-list">
            <a class="btn btn--blue" href="/users/sign_up">Sign up</a>
        </li>
      </ul>
    </section>

    <%# スクロールを促すアニメーション %>
    <div class="scrolldown2"><span>Scroll</span></div>

    <%# 学習のステップ部分 %>
    <section class="step">
      <h2 class="heading-title scrollanime slide-right">Learning process</h2>

      <%# STEP01部分 %>
      <div class="step-contents scrollanime downup">
        <div class="step-item">
          <div class="step-item--box">
            <div class="step-item--box--inner">
              <%= image_tag 'step01.png' , :size => '273x400' , :class => 'step-item--image' %>
            </div>
            <div class="step-item--box--inner">
              <h4 class="step-item--title">STEP.01</h4>
              <h4 class="step-item--subtitle odd">Let's sign up</h4>
              <p class="step-item--description">
                You register your name,<br>
                study language and native langugage<br>
              </p>
              <a class="btn btn--blue step-item--btn" href="/users/sign_up">Sign up</a>
            </div>
          </div>
        </div>
      </div>

      <%# STEP02部分 %>
      <div class="step-contents scrollanime downup">
        <div class="step-item">
          <div class="step-item--box">
            <div class="step-item--box--inner">
              <h4 class="step-item--title text-left">STEP.02</h4>
              <h4 class="step-item--subtitle text-left even">Find your tandem partner</h4>
              <p class="step-item--description text-left">
                Matching study language and native language.<br>
                You choose someone you have an interest in chart.
              </p>
            </div>
            <div class="step-item--box--inner">
              <%= image_tag 'step02.png' , :size => '369x198' , :class => 'step-item--image' %>
            </div>
          </div>
        </div>
      </div>

      <%# STEP03部分 %>
      <div class="step-contents scrollanime downup">
        <div class="step-item">
          <div class="step-item--box">
            <div class="step-item--box--inner">
              <%= image_tag 'step03.png' , :size => '266x353' , :class => 'step-item--image' %>
            </div>
            <div class="step-item--box--inner">
              <h4 class="step-item--title">STEP.03</h4>
              <h4 class="step-item--subtitle odd">チャットで教え合おう</h4>
              <p class="step-item--description">
                学習していて疑問に思ったことを<br>
                その言語で質問してみましょう<br>
                お互いに教え合うことで学習の<br>
                モチベーション維持にも繋がります
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%# 使用言語の部分 %>
    <section class="language">
      <h2 class="heading-title scrollanime slide-left">使用言語</h2>

      <div class="language-item">
        <%= image_tag 'ntf_127.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">Chinese</h4>
      </div>
      <div class="language-item">
        <%= image_tag 'ntf_131.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">Japanese</h4>
      </div>
      <div class="language-item">
        <%= image_tag 'ntf_401.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">English</h4>
      </div>
      <div class="language-item">
        <%= image_tag 'Flag_of_Spain.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">Spanish</h4>
      </div>
    </section>

    <%# 背景部分 %>
    <section class="background">
      <h2 class="heading-title scrollanime slide-left">作成した経緯</h2>
      <div class="background-contents">
        <div class="background-item">
          <h5 class="background-item--number">01</h5>
          <p class="background-item--desc">言語学習をしていても<br class="br-sp">中々使う機会がない</p>
          <p class="background-item-icon"><i class="fas fa-arrow-circle-down"></i></p>
        </div>
        <div class="background-item">
          <h5 class="background-item--number">02</h5>
          <p class="background-item--desc">気軽にチャット相談できる<br class="br-sp">海外の友達を作りたい</p>
          <p class="background-item-icon"><i class="fas fa-arrow-circle-down"></i></p>
        </div>
        <div class="background-item">
          <h5 class="background-item--number">03</h5>
          <p class="background-item--desc">お互いの言語を教え合うことで<br class="br-sp">双方にメリットがある形にしよう</p>
          <p class="background-item-icon"><i class="fas fa-arrow-circle-down"></i></p>
        </div>
        <div class="background-item">
          <h5 class="background-item--number">GOAL</h5>
          <p class="background-item--desc">It's Tandemy</p>
        </div>
      </div>
    </section>

    <div class="language-switching">
      <a href="/top/index" class="language-switching-link">日本語 ></a>
    </div>

    <section class="page-top-section">
      <div id="page-top"><a href="#"></a></div>
    </section>


    <%# フッター部分 %>
    <footer class="footer">
      <small class="footer-content">© All rights reserved by KidaYuki.</small>
    </footer>


    <%# スクロールイベントのjQuery部分 %>
    <script>
      $(function () {
        $(window).scroll(function () {
          const wHeight = $(window).height();
          const scrollAmount = $(window).scrollTop();
          $('.scrollanime').each(function () {
            const targetPosition = $(this).offset().top;
            if(scrollAmount > targetPosition - wHeight + 60){
              $(this).addClass("fadeInDown");
            }
          });
        });
      });
    </script>

    <%# 背景アニメーションのjQuery部分 %>
    <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
    <script>
      bubbly({
        colorStart: "#fff",
        colorStop: "#fff",
        blur: 1,
        compose: "source-over",
        bubbleFunc: () => `hsla(173, 41.2%, 58.6%, 0.2)`
      });
    </script>

    <script>
      $('#page-top').click(function(){
        $('body,html').animate({
          scrollTop: 0
        },700);
        return false;
      });
    </script>

  </body>
</html>