<!DOCTYPE html>
<html>
  <head>
    <title>Geekoriginal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'top', :media => 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1>Tandemy</h1>
      <div class="header-list">
        <ul>
          <li>
            <a class="btn btn--green" href="/users">ログイン</a>
          </li>
          <li>
            <a class="btn btn--blue" href="/users/sign_up">新規登録</a>
          </li>
        </ul>
      </div>
      <div class="open-btn"><span></span><span></span><span></span></div>  
    </header>


    <section class="top-image">
      <div class="top-image-circle"></div>
      <div class="top-text">
        <h4 class="top-text-title">Break Your Language Barrier</h4>
        <p class="top-text-desc">
          Tandemyは学びたい言語と<br />
          話せる言語との<br />
          マッチングを行うサイトです
        </p>
      </div>
    </section>

    <div class="scrolldown2"><span>Scroll</span></div>

    <section class="step">
      <h2 class="heading-title scrollanime slide-right">学習の流れ</h2>

      <div class="step-contents scrollanime downup">
        <div class="step-item">
          <div class="step-item--box">
            <div class="step-item--box--inner">
              <%= image_tag 'step01.png' , :size => '273x400' , :class => 'step-item--image' %>
            </div>
            <div class="step-item--box--inner">
              <h4 class="step-item--title">STEP.01</h4>
              <h4 class="step-item--subtitle odd">まずは登録しよう</h4>
              <p class="step-item--description">
                自分のユーザ名<br class="br-sp">
                学びたい言語・話したい言語を<br class="br-sp">
                登録しましょう
              </p>
              <a class="btn btn--blue step-item--btn" href="/users/sign_up">登録する</a>
            </div>
          </div>
        </div>
      </div>

      <div class="step-contents scrollanime downup">
        <div class="step-item">
          <div class="step-item--box">
            <div class="step-item--box--inner">
              <h4 class="step-item--title text-left">STEP.02</h4>
              <h4 class="step-item--subtitle text-left even">次はマッチングしよう</h4>
              <p class="step-item--description text-left">
                学びたい言語と話したい言語を<br>
                マッチングします<br>
                ユーザの一覧表から気になる方を<br>
                選択しましょう
              </p>
            </div>
            <div class="step-item--box--inner">
              <%= image_tag 'step02.png' , :size => '369x198' , :class => 'step-item--image' %>
            </div>
          </div>
        </div>
      </div>

      <div class="step-contents scrollanime downup">
        <div class="step-item">
          <div class="step-item--box">
            <div class="step-item--box--inner">
              <%= image_tag 'step03.png' , :size => '266x353' , :class => 'step-item--image' %>
            </div>
            <div class="step-item--box--inner">
              <h4 class="step-item--title">STEP.03</h4>
              <h4 class="step-item--subtitle odd">チャットで教え合おう</h4>
              <p class="step-item--description">
                学習していて疑問に思ったことを<br>
                その言語で質問してみましょう<br>
                お互いに教え合うことで学習の<br>
                モチベーション維持にも繋がります
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="language">
      <h2 class="heading-title scrollanime slide-left">使用言語</h2>

      <div class="language-item">
        <%= image_tag 'ntf_127.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">Chinese</h4>
      </div>
      <div class="language-item">
        <%= image_tag 'ntf_131.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">Japanese</h4>
      </div>
      <div class="language-item">
        <%= image_tag 'ntf_401.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">English</h4>
      </div>
      <div class="language-item">
        <%= image_tag 'Flag_of_Spain.svg' , width: '40%' , height: '40%' , class: 'language-flag' %>
        <h4 class="language-title">Spanish</h4>
      </div>

    </section>

    <footer class="footer">
      <small class="footer-content">© All rights reserved by yukikida.</small>
    </footer>


    <script>
      $(function () {
        $(window).scroll(function () {
          const wHeight = $(window).height();
          const scrollAmount = $(window).scrollTop();
          $('.scrollanime').each(function () {
            const targetPosition = $(this).offset().top;
            if(scrollAmount > targetPosition - wHeight + 60){
              $(this).addClass("fadeInDown");
            }
          });
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
    <script>
      bubbly({
        colorStart: "#fff",
        colorStop: "#fff",
        blur: 1,
        compose: "source-over",
        bubbleFunc: () => `hsla(173, 41.2%, 58.6%, 0.2)`
      });
    </script>

  </body>
</html>