<div id="users">

  <h2 class="chart-title">ユーザ一覧</h2>
  <% if user_signed_in? %>

    <div class="my-page">
      <%= image_tag current_user.image_url , class: 'table-image'  if current_user.image %>
      <h3 class="current-user-name">HELLO! <%= current_user.name %> さん</h3>
      <p class="pt-20"><%= link_to "マイページを編集する", user_path(current_user.id) , class: 'btn' %></p>
    </div>


    <div>
      <% @users.each do |u| %>
      <table class="user-table">
        <tr>
          <th>
            <%= image_tag u.image_url , class: 'table-image' if u.image %><br>
            <%= u.name %>
          </th>
          <th>
            SL：<%= u.studyLanguage %><br>
            NL：<%= u.nativeLanguage %>
          </th>
          <th><a href="/users/<%= u.id %>" class="start-btn bgleft"><span>始める</span></a></th>
        </tr>
      </table>
      <% end %>
      <div class="logout">
        <%= link_to "ログアウト", destroy_user_session_path, :method => :delete, class: "btn" %>
      </div>
    </div>


  <% else %>
    <div class="inner">
      <%= link_to "ユーザーを登録する", new_user_registration_path , class: 'btn' %>
    </div>
    <div class="inner">
      <%= link_to "ログインする", new_user_session_path , class:'btn' %>
    </div>
  <% end %>
</div>
