<% if user_signed_in? %>
  <div id="users">
    <div class="users-header">
      <div class="users-header-title">
        <h2 class="header-title-chart">ユーザ一覧</h2>
      </div>
      <div class="users-header-content">
        <div class="logout">
          <%= link_to "ログアウト", destroy_user_session_path, :method => :delete , class: 'logout-btn' %>
        </div>
        <div class="notification">
          <a href="/notifications/index" class="notification-bell"><i class="fas fa-bell"></i></a>
        </div>
      </div>
    </div>

    <%# マイページ %>
    <div class="my-page">
      <%= image_tag current_user.image_url , class: 'table-image'  if current_user.image %>
      <h3 class="current-user-name">HELLO! <%= current_user.name %> さん</h3>
      <p class="pt-20"><%= link_to "マイページを編集する", user_path(current_user.id) , class: 'btn' %></p>
    </div>


    <%# マッチング言語の表示 %>
    <div class="matching-language">
      <h2 class="matching-language-title">マッチングした相手の言語</h2>
      <div class="matching-language-contents">
        <div class="matching-language-item">
          <h3 class="ml-item-title">学びたい言語</h3>
          <h3 class="matching-partner-sl"><%= current_user.nativeLanguage %></h3>
          <% if current_user.nativeLanguage == "Japanese" %>
            <%= image_tag 'ntf_131.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% elsif current_user.nativeLanguage == "English" %>
            <%= image_tag 'ntf_401.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% elsif current_user.nativeLanguage == "Chinese" %>
            <%= image_tag 'ntf_127.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% else %>
            <%= image_tag 'Flag_of_Spain.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% end %>
        </div>
        <div class="matching-language-item">
          <h3 class="ml-item-title">話せる言語</h3>
          <h3 class="matching-partner-nl"><%= current_user.studyLanguage %></h3>
          <% if current_user.studyLanguage == "Japanese" %>
            <%= image_tag 'ntf_131.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% elsif current_user.studyLanguage == "English" %>
            <%= image_tag 'ntf_401.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% elsif current_user.studyLanguage == "Chinese" %>
            <%= image_tag 'ntf_127.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% else %>
            <%= image_tag 'Flag_of_Spain.svg' , width: '40%' , height: '40%' , class: 'matching-language-flag' %>
          <% end %>
        </div>
      </div>
    
    </div>


    <% @users.each do |u| %>
      <div class="users-content">
        <div class="users-item">
          <%= image_tag u.image_url , class: 'table-image' if u.image %><br>
          <p class="user-table-name"><%= u.name %></p>
        </div>

        <div class="users-item">
          <p class="users-item-intro-title">プロフィール文</p>
          <p class="users-item-intro-detail"><%= u.introduction %></p>
        </div>

        <div class="users-item">
          <a href="/users/<%= u.id %>" class="start-btn bgleft"><span>気になる</span></a>
        </div>
      </div>
    <% end %>


  <% else %>
    <div class="inner">
      <%= link_to "ユーザーを登録する", new_user_registration_path , class: 'btn' %>
    </div>
    <div class="inner">
      <%= link_to "ログインする", new_user_session_path , class:'btn' %>
    </div>
  </div>
<% end %>
