<% if user_signed_in? %>
  <div id="users">
    <div class="users-header">
      <div class="users-header-title">
        <h2 class="header-title-chart">ユーザ一覧</h2>
      </div>
      <div class="users-header-content">
        <div class="logout">
          <%= link_to "ログアウト", destroy_user_session_path, :method => :delete , class: 'logout-btn' %>
        </div>
        <div class="notification">
          <a href="/notifications/index" class="notification-bell"><i class="fas fa-bell"></i></a>
        </div>
      </div>
    </div>

    
    <div class="my-page">
      <%= image_tag current_user.image_url , class: 'table-image'  if current_user.image %>
      <h3 class="current-user-name">HELLO! <%= current_user.name %> さん</h3>
      <p class="pt-20"><%= link_to "マイページを編集する", user_path(current_user.id) , class: 'btn' %></p>
    </div>


    <div class="users-content">
      <% @users.each do |u| %>
      <table class="user-table">
        <tr>
          <th>
            <%= image_tag u.image_url , class: 'table-image' if u.image %><br>
            <%= u.email %>
            <p class="user-table-name"><%= u.name %></p>
          </th>
          <th>
            SL：<%= u.studyLanguage %><br>
            NL：<%= u.nativeLanguage %>
          </th>
          <th><a href="/users/<%= u.id %>" class="start-btn bgleft"><span>気になる</span></a></th>
        </tr>
      </table>
      <% end %>
    </div>


  <% else %>
    <div class="inner">
      <%= link_to "ユーザーを登録する", new_user_registration_path , class: 'btn' %>
    </div>
    <div class="inner">
      <%= link_to "ログインする", new_user_session_path , class:'btn' %>
    </div>
  </div>
<% end %>
