<div class="user-detail">

  <h2 class="detail-title">詳細プロフィール</h2>


  <div class="detail-contents">
    <%# 詳細ページの左部分 %>
    <div class="detail-item">
      <div class="user-profile user-fadeup">
        <div class="profile-image">
          <%= image_tag @user.image_url , class: 'image' if @user.image%>
        </div>
        <div class="profile-name"><%= @user.name %></div>
        <div class="profile-studylanguage">学んでいる言語： <%= @user.studyLanguage %></div>
        <div class="profile-nativelanguage">母国語： <%= @user.nativeLanguage %></div>
        <div class="profile-desc">プロフィール：<br /> <%= @user.introduction %></div>
      </div>
    </div>
    <%# 詳細ページの右部分 %>
    <div class="detail-item">
      <% if current_user.id == @user.id %>
      <p class="text-center pt-20"><%= link_to "編集する", edit_user_registration_path , class: 'btn' %></p>
      <% end %>

      <% if @user.id == current_user.id %>

      <% else %>
        <% if @isRoom == true %>
          <div class="chat">
            <p><a href="/rooms/<%= @roomId %>" class="btn">チャットへ</a></p>
          </div>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <div class="chat">
              <%= f.submit "チャットを始める" , class: 'btn' %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%# 一覧ページへ戻る %>
      <div class="return">
        <%= link_to "ユーザ一覧に戻る", users_path , class: 'btn' %>
      </div>
    </div>
  </div>
</div>
