<div id="dm">
  <h1 class="dm-title">DM</h1>

  <h4>参加者</h4>
  <% @entries.each do |e| %>
    <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></h5>
  <% end %>

    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="message-box">
          <strong><%= m.content %></strong>
          <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.email %>さん</a></strong></small>
        </div>
      <% end %>
    <% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
  <% end %>

  <%= form_for @message do |f| %>
    <div class="inner">
      <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , class: 'textbox' %>
    </div>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <%= f.submit "投稿する" , class: 'btn' %>
  <% end %>

  <div class="return">
    <%= link_to "ユーザー一覧に戻る", users_path , class: 'btn' %>
  </div>

</div>
