<div id="dm">

  <div class="dm-header">
    <div class="dm-header-item">
      <h2 class="dm-header-item-title">DM</h2>
    </div>
    <div class="dm-header-item">
      <div class="logout">
        <%= link_to "ログアウト", destroy_user_session_path, :method => :delete , class: 'logout-btn' %>
      </div>
    </div>
  </div>

  <h4 class="participant-title">参加者</h4>
  <% @entries.each do |e| %>
    <h5 class="participant-member"><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></h5>
  <% end %>

    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if m.user_id == current_user.id %>
          <div class="chat-box-current">
            <div class="current-user">
              <strong class="current-user"><%= m.content %></strong>
              <small class="current-user"><a href="/users/<%= m.user_id %>" class="color-white"><%= m.user.name %>さん</a></small>
            </div>
          </div>
        <% else %>
          <div class="chat-box-visited">
            <div class="visited-user">
              <strong class="visited-user"><%= m.content %></strong>
              <small class="visited-user"><a href="/users/<%= m.user_id %>" class="color-white" ><%= m.user.name %>さん</a></small>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
  <% end %>

  <%= form_for @message do |f| %>
    <div class="inner">
      <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , class: 'textbox' %>
    </div>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <%= f.submit "送信する" , class: 'btn' %>
  <% end %>

  <div class="return">
    <%= link_to "ユーザー一覧に戻る", users_path , class: 'btn' %>
  </div>

</div>
